---
import '~/base.css'
import Layout from '~/layouts/Layout.astro'
import Card from '../components/Card.astro'
import DashedArrow from '../assets/DashedArrow.astro'
import { PUBLIC_UPDATED_AT, PUBLIC_VERSION } from 'astro:env/client'

const year = new Date().getUTCFullYear()
const updatedAt = PUBLIC_UPDATED_AT
const version = PUBLIC_VERSION
---

<Layout title="xzec | Juraj">
  <header class="noise flex w-full items-center rounded-md bg-nightblue p-4">
    <h1 class="text-4xl font-bold leading-none text-white">xzec</h1>
    <div class="animate-blink ml-1 text-2xl text-white">█</div>
  </header>
  <main
    class="flex flex-wrap gap-4 py-4 text-neutral-800 dark:text-neutral-300"
  >
    <Card class="noise relative overflow-hidden">
      <div class="mb-8 flex items-start gap-4">
        <img
          src="/me.png"
          alt="me"
          class="size-full max-h-[72px] max-w-[72px] rounded-full border-white shadow-lg"
        />
        <div>
          <h2 class="mb-2 text-2xl font-bold">Juraj Žec</h2>
          <a
            href="https://en.wikipedia.org/wiki/Juraj"
            target="_blank"
            rel="noopener noreferrer"
            class="block text-xs text-neutral-500 no-underline"
            >"you-rye zhets" (Ž like the "s" in "measure")</a
          >
        </div>
      </div>
      <p class="text-sm">Software engineer<br />28 years old</p>
      <div
        class="pointer-events-none absolute -bottom-8 left-1/2 size-32 rounded-full bg-stone-800 mix-blend-plus-lighter blur-3xl"
      >
      </div>
    </Card>
    <Card class="noise relative overflow-hidden bg-lime-600">
      <h2 class="mb-4 text-lg font-bold">📍 Location</h2>
      <p class="mb-4 text-sm">South-East Asia</p>
      <div class="rounded-md bg-lime-950 p-2">
        <p class="text-sm text-gray-100">
          Available for a new position starting <span
            class="underline decoration-dashed">December 1, 2025</span
          >
          (Europe)
        </p>
      </div>
      <div
        class="pointer-events-none absolute -top-1/2 left-1/2 size-60 rounded-full bg-lime-700 mix-blend-color-burn blur-3xl"
      >
      </div>
      <div
        class="pointer-events-none absolute -bottom-1/2 left-0 size-60 rounded-full bg-lime-500 mix-blend-color-burn blur-3xl"
      >
      </div>
    </Card>
    <Card fullWidth class="noise relative overflow-hidden">
      <h2 class="mb-4 text-lg font-bold">What I bring to the table</h2>
      <p class="text-xs">
        I work across the stack: frontend, backend, infra. I can navigate the
        world of software very well, closely watching the newest updates on
        relevant tools. I work well in teams and solo.
      </p>
      <div
        class="pointer-events-none absolute -top-16 left-0 size-32 rounded-full bg-stone-800 mix-blend-plus-lighter blur-3xl"
      >
      </div>
      <div
        class="pointer-events-none absolute -top-16 left-2/3 size-48 rounded-full bg-stone-800 mix-blend-plus-lighter blur-3xl"
      >
      </div>
      <div
        class="pointer-events-none absolute -bottom-16 left-1/3 size-48 rounded-full bg-stone-800 mix-blend-plus-lighter blur-3xl"
      >
      </div>
      <!-- -&#45;&#45;&#45;&#45;-->
      <!--<h3 class="mb-4 text-sm font-bold">More about me</h3>-->
    </Card>
    <Card class="noise relative overflow-hidden">
      <h2 class="mb-4 text-lg font-bold">Last role</h2>
      <p class="mb-2 text-xs">
        For 5 years I’ve been helping
        <a
          href="https://www.linkedin.com/company/akular/"
          target="_blank"
          rel="noopener noreferrer">akular</a
        >
        build a digital twin + ar platform. I led the web dev team, worked with brilliant
        people and got hands-on with tech like
        <a
          href="https://www.babylonjs.com/"
          target="_blank"
          rel="noopener noreferrer">babylon.js</a
        >
        and
        <a href="https://rxdb.info/" target="_blank" rel="noopener noreferrer"
          >rxdb</a
        >.
      </p>
      <div class="flex items-end justify-end gap-4">
        <div class="flex flex-col items-end justify-end">
          <DashedArrow class="h-16 w-16 rotate-90" />
          <p class="text-xs"><i>check it out</i></p>
        </div>
        <a
          href="https://www.linkedin.com/posts/r4pos_ai-ugcPost-7240040530905042945-SVeE"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/akular-app-preview.webp"
            alt="AKULAR app preview"
            width="112"
            class="shadow-xl transition duration-300 ease-in-out hover:rotate-1 hover:scale-110 hover:shadow-2xl"
          />
        </a>
      </div>
      <div
        class="pointer-events-none absolute -bottom-8 left-1/2 size-32 rounded-full bg-stone-800 mix-blend-plus-lighter blur-3xl"
      >
      </div>
    </Card>
    <Card
      class="relative overflow-hidden rounded-3xl border-8 border-dashed border-stone-400 bg-transparent shadow-none dark:bg-transparent"
    >
      <h2 class="mb-4 text-lg font-bold">Get in touch</h2>
      <p class="text-xs">Reach out and let's discuss how I may be of help.</p>
    </Card>
  </main>
  <footer class="flex justify-center">
    <span class="text-xs text-neutral-400 dark:text-neutral-500">
      v{version} | updated {updatedAt} | Copyright © Juraj Žec {year}</span
    >
  </footer>
</Layout>
