---
import '~/base.css'
import Layout from '~/layouts/Layout.astro'
import Card from '../components/Card.astro'
import AustraliaIcon from '../assets/AustraliaIcon.astro'
import BigRightArrow from '../assets/BigRightArrow.astro'
import { PUBLIC_UPDATED_AT } from 'astro:env/client'

const year = new Date().getUTCFullYear()
const updatedAt = PUBLIC_UPDATED_AT
---

<Layout title="xzec">
  <header class="noise flex w-full items-center rounded-md bg-nightblue p-4">
    <h1 class="text-4xl font-bold leading-none text-white">xzec</h1>
    <div class="animate-blink ml-1 text-2xl text-white">█</div>
  </header>
  <main
    class="flex flex-wrap gap-4 py-4 text-neutral-800 dark:text-neutral-300"
  >
    <Card class="noise relative overflow-hidden">
      <h2 class="mb-2 text-2xl font-bold">Juraj Žec</h2>
      <a
        href="https://en.wikipedia.org/wiki/Juraj"
        target="_blank"
        rel="noopener noreferrer"
        class="mb-8 block text-xs text-neutral-500 no-underline"
        >"you-rye zhets" (Ž like the "s" in "measure")</a
      >
      <p class="text-sm">Software engineer<br />27 yo</p>
      <div
        class="pointer-events-none absolute -bottom-8 left-1/2 size-32 rounded-full bg-stone-800 mix-blend-plus-lighter blur-3xl"
      >
      </div>
    </Card>
    <Card class="noise relative overflow-hidden bg-amber-200">
      <h2 class="mb-4 text-lg font-bold">📍 Location</h2>
      <p class="mb-4 text-sm">Sydney<br />New South Wales, Australia</p>
      <p class="text-sm">
        Available for a <span class="underline decoration-dashed"
          >Remote position</span
        >
      </p>
      <div
        class="pointer-events-none absolute -top-1/2 left-1/2 size-60 rounded-full bg-amber-700 mix-blend-color-burn blur-3xl"
      >
      </div>
      <div
        class="pointer-events-none absolute -bottom-1/2 left-0 size-60 rounded-full bg-amber-700 mix-blend-color-burn blur-3xl"
      >
      </div>
      <AustraliaIcon
        class="pointer-events-none absolute left-1/2 top-1/2 h-48 w-48 -translate-x-1/2 -translate-y-1/2 mix-blend-soft-light"
      />
    </Card>
    <Card fullWidth class="noise relative overflow-hidden">
      <h2 class="mb-4 text-lg font-bold">What I bring to the table</h2>
      <p class="text-xs">
        I work across the stack: frontend, backend, infra. I build and ship apps
        end-to-end, from writing code to deployment. I default to aws when
        architecture is needed. at the end of the day, I strive to build things
        that are reliable and high quality.
      </p>
      <p class="text-xs">
        Besides my technical skills, I love delivering high-end solutions, and I
        strive for excellence in everything I build.
      </p>
      <div
        class="pointer-events-none absolute -top-16 left-0 size-32 rounded-full bg-stone-800 mix-blend-plus-lighter blur-3xl"
      >
      </div>
      <div
        class="pointer-events-none absolute -top-16 left-2/3 size-48 rounded-full bg-stone-800 mix-blend-plus-lighter blur-3xl"
      >
      </div>
      <div
        class="pointer-events-none absolute -bottom-16 left-1/3 size-48 rounded-full bg-stone-800 mix-blend-plus-lighter blur-3xl"
      >
      </div>
    </Card>
    <Card class="noise relative overflow-hidden">
      <h2 class="mb-4 text-lg font-bold">Last role</h2>
      <p class="mb-2 text-xs">
        For the past 5y I’ve been helping
        <a
          href="https://www.linkedin.com/company/akular/"
          target="_blank"
          rel="noopener noreferrer">akular</a
        >
        build a digital twin + ar platform. I led the web dev team, worked with brilliant
        people, and got hands-on with tech like
        <a
          href="https://www.babylonjs.com/"
          target="_blank"
          rel="noopener noreferrer">babylon.js</a
        >
        and
        <a href="https://rxdb.info/" target="_blank" rel="noopener noreferrer"
          >rxdb</a
        >.
      </p>
      <div class="flex items-end justify-end gap-4">
        <div class="flex flex-col items-end justify-end">
          <BigRightArrow class="h-16 w-16" />
          <p class="text-xs"><i>check it out</i></p>
        </div>
        <a
          href="https://www.linkedin.com/posts/r4pos_ai-ugcPost-7240040530905042945-SVeE"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/akular-app-preview.webp"
            alt="AKULAR app preview"
            width="112"
            class="shadow-xl transition duration-300 ease-in-out hover:rotate-1 hover:scale-110 hover:shadow-2xl"
          />
        </a>
      </div>
      <div
        class="pointer-events-none absolute -bottom-8 left-1/2 size-32 rounded-full bg-stone-800 mix-blend-plus-lighter blur-3xl"
      >
      </div>
    </Card>
    <Card class="noise relative overflow-hidden">
      <div class="absolute"></div>
      <h2 class="mb-4 text-lg font-bold">Get in touch</h2>
      <p class="text-xs">Reach out and let's discuss how I may be of help.</p>
      <div
        class="pointer-events-none absolute -bottom-8 left-1/2 size-32 rounded-full bg-stone-800 mix-blend-plus-lighter blur-3xl"
      >
      </div>
    </Card>
  </main>
  <footer class="flex justify-center">
    <span class="text-xs text-neutral-400 dark:text-neutral-500">
      v1.0.0 | updated {updatedAt} | Copyright © Juraj Žec {year}</span
    >
  </footer>
</Layout>
