---
import '~/base.css'
import Layout from '~/layouts/Layout.astro'
import Card from '../components/Card.astro'
import DashedArrow from '../assets/DashedArrow.astro'
import { PUBLIC_UPDATED_AT, PUBLIC_VERSION } from 'astro:env/client'
import ThinArrow from '../assets/ThinArrow.astro'

const year = new Date().getUTCFullYear()
const updatedAt = PUBLIC_UPDATED_AT
const version = PUBLIC_VERSION
---

<Layout title="xzec | Juraj">
  <header class="noise bg-nightblue flex w-full items-center rounded-md p-4">
    <h1 class="text-4xl leading-none font-bold text-white">xzec</h1>
    <div class="animate-blink ml-1 text-2xl text-white">█</div>
  </header>
  <main
    class="flex flex-wrap gap-4 py-4 pb-16 text-neutral-800 dark:text-neutral-300"
  >
    <Card class="noise relative overflow-hidden">
      <div class="mb-8 flex items-start gap-4">
        <img
          src="/me.webp"
          alt="me"
          class="size-full max-h-[72px] max-w-[72px] rounded-full shadow-lg"
        />
        <div>
          <h2 class="mb-2 text-2xl font-bold">Juraj Žec</h2>
          <a
            href="https://en.wikipedia.org/wiki/Juraj"
            target="_blank"
            rel="noopener noreferrer"
            class="block text-xs text-neutral-500 no-underline"
            >"you-rye zhets" (Ž like the "s" in "measure")</a
          >
        </div>
      </div>
      <p class="text-sm">Software engineer<br />28 years old</p>
      <div
        class="pointer-events-none absolute -bottom-8 left-1/2 size-32 rounded-full bg-stone-800 mix-blend-plus-lighter blur-3xl"
      >
      </div>
    </Card>
    <Card class="noise relative overflow-hidden bg-lime-600 dark:bg-lime-700">
      <h2 class="mb-4 text-lg font-bold">📍 Location</h2>
      <p class="mb-4 text-sm">South-East Asia, based Bratislava</p>
      <div
        class="relative z-1 rounded-xl border-2 border-lime-500 bg-lime-950 p-2"
      >
        <p class="text-sm text-gray-100">
          Available for a new position in <b>Europe</b>, starting <span
            class="underline decoration-dashed">December 1, 2025</span
          >.
        </p>
      </div>
      <div
        class="pointer-events-none absolute -top-1/2 left-1/2 size-60 rounded-full bg-lime-600 mix-blend-color-burn blur-3xl dark:bg-lime-500"
      >
      </div>
      <div
        class="pointer-events-none absolute -bottom-1/2 left-0 size-60 rounded-full bg-lime-400 mix-blend-color-burn blur-3xl dark:bg-lime-600"
      >
      </div>
    </Card>
    <Card fullWidth class="noise relative overflow-hidden">
      <h2 class="mb-4 text-lg font-bold">What I bring to the table</h2>
      <p class="text-sm">
        I work across the stack: frontend, backend, infra. I can navigate the
        world of software very well, closely watching the newest updates on
        relevant tools. I work well in teams and solo.
      </p>
      <div
        class="pointer-events-none absolute -top-16 left-0 size-32 rounded-full bg-stone-800 mix-blend-plus-lighter blur-3xl"
      >
      </div>
      <div
        class="pointer-events-none absolute -top-16 left-2/3 size-48 rounded-full bg-stone-800 mix-blend-plus-lighter blur-3xl"
      >
      </div>
      <div
        class="pointer-events-none absolute -bottom-16 left-1/3 size-48 rounded-full bg-stone-800 mix-blend-plus-lighter blur-3xl"
      >
      </div>
      <!-- -&#45;&#45;&#45;&#45;-->
      <!--<h3 class="mb-4 text-sm font-bold">More about me</h3>-->
    </Card>
    <Card class="noise relative overflow-hidden">
      <h2 class="mb-4 text-lg font-bold">Last role</h2>
      <p class="mb-2 text-sm">
        For 5 years I’ve been helping
        <a
          href="https://www.linkedin.com/company/akular/"
          target="_blank"
          rel="noopener noreferrer">akular</a
        >
        build a digital twin + ar platform. I led the web dev team, worked with brilliant
        people and got hands-on with tech like
        <a
          href="https://www.babylonjs.com/"
          target="_blank"
          rel="noopener noreferrer">babylon.js</a
        >
        and
        <a href="https://rxdb.info/" target="_blank" rel="noopener noreferrer"
          >rxdb</a
        >.
      </p>
      <div class="flex items-end justify-end gap-4">
        <div class="flex flex-col items-end justify-end">
          <DashedArrow class="h-16 w-16 rotate-90" />
          <p class="text-xs"><i>check it here</i></p>
        </div>
        <a
          href="https://www.linkedin.com/posts/r4pos_ai-ugcPost-7240040530905042945-SVeE"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/akular-app-preview.webp"
            alt="AKULAR app preview"
            width="112"
            class="shadow-xl transition duration-300 ease-in-out hover:scale-110 hover:rotate-1 hover:shadow-2xl"
          />
        </a>
      </div>
      <div
        class="pointer-events-none absolute -top-8 left-0 size-48 rounded-full bg-stone-800 mix-blend-plus-lighter blur-3xl"
      >
      </div>
      <div
        class="pointer-events-none absolute -bottom-8 left-1/2 size-32 rounded-full bg-stone-800 mix-blend-plus-lighter blur-3xl"
      >
      </div>
    </Card>
    <Card
      class="relative overflow-hidden rounded-3xl border-8 border-dashed border-stone-300 bg-stone-100 shadow-none dark:bg-transparent"
    >
      <h2 class="mb-4 text-lg font-bold">Get in touch</h2>
      <p class="mb-2 text-sm">
        Reach out and let's discuss how I may be of help.
      </p>
      <div class="mt-6 flex justify-center">
        <a
          href="https://www.linkedin.com/in/juraj-zec/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-white no-underline"
        >
          <button
            class="group bg-nightblue relative inline-flex min-h-10 cursor-pointer items-center justify-center overflow-hidden rounded-xl px-6 py-1 font-medium text-neutral-200 transition hover:scale-110"
          >
            <span>Message me on LinkedIn</span>
            <ThinArrow class="h-5 w-5 translate-x-2" />
            <span
              class="absolute inset-0 flex h-full w-full -translate-x-full justify-center group-hover:translate-x-full group-hover:delay-300 group-hover:duration-1000"
            >
              <span class="relative h-full w-8 -skew-12 bg-white/20"></span>
            </span>
          </button>
        </a>
      </div>
    </Card>
  </main>
  <footer
    class="fixed bottom-0 left-1/2 flex w-full max-w-[calc(var(--container-4xl)-20px)] -translate-x-1/2 justify-center bg-stone-950/90 px-4 pt-2 pb-1 backdrop-blur-md sm:w-[calc(100%-20px)] sm:rounded-t-xl"
  >
    <span class="text-[10px] text-neutral-400 dark:text-neutral-500">
      v{version} | {updatedAt} | Copyright © Juraj Žec {year}</span
    >
  </footer>
</Layout>
