---
import { cn } from '../utils/cn'

interface Props {
  fullWidth?: boolean
  class?: string
}

const { fullWidth, class: classes } = Astro.props

console.log(classes)

const defaultClasses =
  'rounded-md p-6 shadow-md dark:shadow-none grow bg-stone-200 dark:bg-neutral-900 min-h-48'
const cardClasses = cn(
  defaultClasses,
  fullWidth ? 'max-w-full' : 'max-w-[calc(50%-8px)]',
  classes,
)
---

<section class={cardClasses}>
  <slot />
</section>
