@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: JetBrainsMono;
    src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: JetBrainsMono;
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  html {
    font-family:
      JetBrainsMono, ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo,
      Consolas, 'DejaVu Sans Mono', monospace;
    background: #f3f3f3;

    &.dark {
      color-scheme: dark;
    }
  }

  a {
    text-decoration: underline;
    color: #1e3af3;

    &:hover {
      color: #009dff;
    }
  }
}

@layer components {
  .noise {
    background-image: url('/noise.png');
  }
}

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 1.5s steps(1) infinite;
  }

  .wavy-background {
    background-color: #f3f3ff;
    opacity: 0.8;
    background-image:
      linear-gradient(#efefef 1px, transparent 1px),
      linear-gradient(to right, #efefef 1px, #f3f3f3 1px);
    background-size: 20px 20px;
  }
}
